<h1> Welcome to Rainforest! </h1>

<H2> <%=link_to("Add a product", "/products/new")%> </h2>


<h2> Our Products</h2>

<ul>
<% @products.each do |product| %>
<li>
<strong>Product Name:</strong> <%= product.name %><br/>
<strong>Description:</strong> <%= product.description%><br/>
<strong>Price:</strong> <%= product.price_in_cents %><br />
<%= link_to("#{product.name}","/products/#{product.id}") %>
</li><br />

<% end%>
</ul>
