<h1> Welcome to Rainforest! </h1>

<h2> Our Products</h2>


<div class="container">
  <div class="row">
  <% @products.each do |product| %>
    <div class="col-sm">
      <div class="card" style="width: 20rem;">
          <div class="card-body">
            <%=image_tag(product.image, width: 200, height: 190)%><br>
            <strong>Product Name:</strong> <%= product.name %><br/>
            <strong>Description:</strong> <%= product.description%><br/>
            <strong>Price:</strong> <%= product.price_in_dollars %><br />
            <button type="button" class="btn btn-success"><%= link_to("#{product.name}","/products/#{product.id}") %></a>
          </div>
    </div>
  </div>
  <% end%>
</div><br>
</div>
